NODE_ID=node1
NODE_HOST=0.0.0.0
NODE_PORT=8000
NODE_URL=http://localhost:8000
PEERS=http://localhost:8000
LEADER_ID=node1
LEADER_URL=http://localhost:8000
API_KEY=devkey
CLUSTER_HMAC_KEY=devhmac
ENCRYPTION_KEY=o6bShtNP0D3dYlIuYJzoO3jVXo0b4UR5Iwb5F3m21vk=
ML_ENABLED=1
REQUEST_TIMEOUT=3.5
